/* app css stylesheet */

label  {
  width:100px;
  float:left;
  margin: 0 20px 0 0;};

span {
  display:block;
  margin: 0 0 3px;
  font-size: 1.2em;
  font-weight: bold;};

input {
  width:200px;
  border:1px solid #000;
  padding: 5px;};

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
